# Pre-processing data

### PA Women in Tech

## Setting up the data

Firstly, the libraries we need are imported. We'll import the data and fix the missing values (the same as the first exercises).

We'll also use the `.head()` method to take a quick look at each dataset again!

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_races = pd.read_csv('racingData.csv', encoding='unicode_escape')
df_horse_weights = pd.read_csv('horseWeights.csv', encoding='unicode_escape')

In [3]:
df_races.head()

,race date,horse_name,position,horse_age,bha_rating,draw,trainer_name,jockey_name,prize money 1,course name,race_age,race_title,Qaurter,race distance,odds
0,11/12/2018,Cousin Khee,3,11.0,69,2,Hughie Morrison,Charlie Bennett,3752,SOUTHWELL (A.W),3YO+,BETWAY STAYERS HANDICAP (5),3rd,16,0.142857
1,11/12/2018,Essential,8,4.0,60,9,Olly Williams,Luke Morris,3105,SOUTHWELL (A.W),4YO+,BETWAY DASH HANDICAP (6),3rd,6,0.142857
2,11/12/2018,The Right Choice,4,3.0,69,6,Richard Fahey,Tony Hamilton,3752,SOUTHWELL (A.W),3YO+,SUNRACING.CO.UK HANDICAP (DIV II) (5),3rd,8,0.090909
3,11/12/2018,Argon,7,3.0,43,5,Noel Wilson,Andrew Mullen,3752,SOUTHWELL (A.W),3YO+,BETWAY NOVICE STAKES (5),3rd,5,0.020000
4,11/12/2018,Via Delle Volte,6,3.0,65,14,Joseph Tuite,Luke Morris,3752,SOUTHWELL (A.W),3YO+,BETWAY STAYERS HANDICAP (5),3rd,16,0.111111

In [5]:
df_horse_weights.head()

         horse_name  horse_weight
0       Cousin Khee           132
1         Essential           128
2  The Right Choice           126
3             Argon           124
4   Via Delle Volte           123

In [6]:
# Dropping rows with empty horse names
df_races = df_races.dropna(subset=["horse_name"])

# Filling missing horse ages with the mean horse age
mean_age = round(df_races["horse_age"].dropna().mean(), 0)
df_races["horse_age"] = df_races["horse_age"].fillna(mean_age)

## Joining the dataframes

In this section, we will join the two dataframes together. We can see that they each have a common column called `horse_name`.

To check the data type of each column in a dataframe, we can access the `dtypes` property:

In [7]:
#check that both columns are the same type
df_races.dtypes

race date         object
horse_name        object
position           int64
horse_age        float64
bha_rating         int64
draw               int64
trainer_name      object
jockey_name       object
prize money 1      int64
course name       object
race_age          object
race_title        object
Qaurter           object
race distance      int64
odds             float64
dtype: object

Here we can see that the text attributes get loaded in as a generic 'object' type by pandas. This includes the `horse_name` column. There is some more detail on handling text data with pandas [here](https://pandas.pydata.org/docs/user_guide/text.html).

To join the dataframes on this column, we need to convert this column into a string format. We do this below with the `.astype()` method.

Note: when creating our dataframe, we also could have specified to import the text columns as strings by using the keyword argument `dtype="string"`

In [8]:
df_races["horse_name"] = df_races["horse_name"].astype(str)
df_horse_weights["horse_name"] = df_horse_weights["horse_name"].astype(str)

In [9]:
df_horse_weights.dtypes

horse_name      object
horse_weight     int64
dtype: object

1a. Join the two dataframes on the `horse_name` column, creating a new dataframe

In [10]:
#need to put them in the right order
#df3=pd.merge(df1,df2, on="course", how="outer") outer=everything, inner=only common ones, left=common and left, right=common and right
df_horse_race_join= pd.merge(df_races,df_horse_weights, how="left", on=["horse_name"])
df_horse_race_join.shape

(1815, 16)

1b. Show the first five rows of the merged dataframe

In [11]:
df_horse_race_join.head(5)

,race date,horse_name,position,horse_age,bha_rating,draw,trainer_name,jockey_name,prize money 1,course name,race_age,race_title,Qaurter,race distance,odds,horse_weight
0,11/12/2018,Cousin Khee,3,11.0,69,2,Hughie Morrison,Charlie Bennett,3752,SOUTHWELL (A.W),3YO+,BETWAY STAYERS HANDICAP (5),3rd,16,0.142857,132
1,11/12/2018,Essential,8,4.0,60,9,Olly Williams,Luke Morris,3105,SOUTHWELL (A.W),4YO+,BETWAY DASH HANDICAP (6),3rd,6,0.142857,128
2,11/12/2018,The Right Choice,4,3.0,69,6,Richard Fahey,Tony Hamilton,3752,SOUTHWELL (A.W),3YO+,SUNRACING.CO.UK HANDICAP (DIV II) (5),3rd,8,0.090909,126
3,11/12/2018,Argon,7,3.0,43,5,Noel Wilson,Andrew Mullen,3752,SOUTHWELL (A.W),3YO+,BETWAY NOVICE STAKES (5),3rd,5,0.020000,124
4,11/12/2018,Via Delle Volte,6,3.0,65,14,Joseph Tuite,Luke Morris,3752,SOUTHWELL (A.W),3YO+,BETWAY STAYERS HANDICAP (5),3rd,16,0.111111,123

## Test and training data

One use for this dataset might be to create a model that predicts the position in a race of a horse based on its attributes, such as horse age or weight.

The `position` column here is the _dependent_ variable. This is the outcome, or output.

The other columns are the _independent_ variables. These are attributes that may contribute to the output (e.g. horse weight) - the input.

2a. Produce new variables, `X` and `y`, which consist of the dependent and independent variables respectively.

In [12]:
#split depended independed
#X capital = depended , y = independent variable
X= df_horse_race_join.drop(columns=["position"])
y= df_horse_race_join["position"]

In [13]:
y.head(
)

0    3
1    8
2    4
3    7
4    6
Name: position, dtype: int64

If we wanted to use this data to create a prediction model as mentioned previously, we would want a way to test its performance - how well does it predict the outcome race positions?

To do this, we can split our data into test and train sets. We could then use the training data to train our model, and use the test data to test the performance of our model - this is unseen data which the model has not seen yet.

2b. Produce the train and test datasets from the `X` and `y` data, with 70% of the data being used for training

Hint: remember to do the necessary scikit-learn import first

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test= train_test_split(X,y,test_size=0.3, random_state=1)

2c. Look at the shapes of the resulting `X` and `y` train and test sets

In [16]:
X_train.shape

(1270, 15)

In [17]:
X_test.shape

(545, 15)

In [18]:
y_train.shape

(1270,)

In [19]:
y_test.shape

(545,)

2d. Investigate the effect of the `random_state` keyword argument, by running the function to create the test & train split multiple times and checking the first few lines of the resulting dataframe for each:
* Try setting `random_state` as an integer
* Try removing `random_state`

Based on these results, what do you think the `random_state` argument does?

In [20]:
# Running this twice, you should see the same values in the first five rows both times
X_train, X_test, y_train, y_test= train_test_split(X,y,test_size=0.3, random_state=1)
X_train.head()

,race date,horse_name,horse_age,bha_rating,draw,trainer_name,jockey_name,prize money 1,course name,race_age,race_title,Qaurter,race distance,odds,horse_weight
1328,05/12/2018,Star Attraction,3.0,0,8,David Menuisier,Richard Kingscote,3752,LINGFIELD,3YO+,"BETFRED ""TREBLE ODDS ON LUCKY 15'S"" FILLIES' N...",1st,6,0.040000,131
1499,04/12/2018,Decision Maker,4.0,69,6,Roy Bowring,Eoin Walsh,3752,SOUTHWELL (A.W),4YO+,TOTEQUADPOT HANDICAP (5),1st,5,0.071429,125
1281,05/12/2018,Ready,4.0,63,4,Mark Pattinson,Kieren Fox,3105,LINGFIELD,4YO+,"BETFRED ""FOLLOW US ON TWITTER"" HANDICAP (DIV I...",1st,10,0.083333,131
874,07/12/2018,Jawwaal,3.0,89,13,John Gosden,Andrea Atzeni,62250,NEWMARKET (JULY),3YO,BET365 HANDICAP (2),2nd,6,0.142857,121
1553,04/12/2018,Crosse Fire,6.0,79,1,Scott Dixon,Luke Morris,5531,SOUTHWELL (A.W),3YO+,TOTETRIFECTA HANDICAP (4),1st,6,0.100000,123

In [21]:
# Running this twice, you should see different values in the first five rows each time

`random_state` controls the shuffling applied to the data before applying the split. You can pass an integer for reproducible output across multiple function calls. If you omit the argument completely, you will get randomised results (with regards to shuffling and how your data gets split up) each time.

## Normalising and standardising data

3a. Normalise the horse weights in the train and test dataframes

Hint: remember to do the necessary scikit-learn import first

In [22]:
#before standarizing verify that u have a normmal distribution. if binomial distribution not good idea to standarize
from sklearn.preprocessing import MinMaxScaler

min_max_scaler= MinMaxScaler()

min_max_scaler.fit(X_train[["horse_weight"]])

X_train[["horse_weight"]]= min_max_scaler.transform(X_train[["horse_weight"]])
X_test[["horse_weight"]]= min_max_scaler.transform(X_test[["horse_weight"]])

3b. Standardise the BHA ratings in the dataframes

Hint: remember to do the necessary scikit-learn import first

In [23]:
from sklearn.preprocessing import StandardScaler

scaler= StandardScaler()

scaler.fit(X_train[["bha_rating"]])

X_train[["bha_rating"]]= scaler.transform(X_train[["bha_rating"]])
X_test[["bha_rating"]]= scaler.transform(X_test[["bha_rating"]])

3c. Show the first five rows of the updated train and test dataframes

In [24]:
X_train.head(5)

,race date,horse_name,horse_age,bha_rating,draw,trainer_name,jockey_name,prize money 1,course name,race_age,race_title,Qaurter,race distance,odds,horse_weight
1328,05/12/2018,Star Attraction,3.0,-1.772146,8,David Menuisier,Richard Kingscote,3752,LINGFIELD,3YO+,"BETFRED ""TREBLE ODDS ON LUCKY 15'S"" FILLIES' N...",1st,6,0.040000,0.468085
1499,04/12/2018,Decision Maker,4.0,0.370331,6,Roy Bowring,Eoin Walsh,3752,SOUTHWELL (A.W),4YO+,TOTEQUADPOT HANDICAP (5),1st,5,0.071429,0.340426
1281,05/12/2018,Ready,4.0,0.184029,4,Mark Pattinson,Kieren Fox,3105,LINGFIELD,4YO+,"BETFRED ""FOLLOW US ON TWITTER"" HANDICAP (DIV I...",1st,10,0.083333,0.468085
874,07/12/2018,Jawwaal,3.0,0.991339,13,John Gosden,Andrea Atzeni,62250,NEWMARKET (JULY),3YO,BET365 HANDICAP (2),2nd,6,0.142857,0.255319
1553,04/12/2018,Crosse Fire,6.0,0.680835,1,Scott Dixon,Luke Morris,5531,SOUTHWELL (A.W),3YO+,TOTETRIFECTA HANDICAP (4),1st,6,0.100000,0.297872

In [25]:
X_test.head(5)

,race date,horse_name,horse_age,bha_rating,draw,trainer_name,jockey_name,prize money 1,course name,race_age,race_title,Qaurter,race distance,odds,horse_weight
596,08/12/2018,Eben Dubai,6.0,-0.188576,11,John Flint,Miss Arabella Tucker,3619,WINDSOR,4YO+,STARSPORTS.BET AMATEUR RIDERS' HANDICAP (5),2nd,11,0.071429,0.319149
972,06/12/2018,Avocadeau,7.0,-0.033324,6,Stuart Kittow,Martin Dwyer,4722,SALISBURY,4YO+,ROA/RACING POST OWNERS' JACKPOT HANDICAP (5),1st,12,0.083333,0.446809
1470,05/12/2018,My Distant Murphy,4.0,-0.343828,10,Jacqueline Coward,Toby Eley,3235,NOTTINGHAM,4YO+,GENTING CASINO ROULETTE APPRENTICE HANDICAP (R...,1st,8,0.020000,0.170213
227,10/12/2018,Inclyne,2.0,-1.772146,5,Andrew Balding,Oisin Murphy,7763,NEWMARKET,2YO,GODOLPHIN UNDER STARTERS ORDERS MAIDEN FILLIES...,3rd,7,0.142857,0.361702
1144,06/12/2018,Be Like Me,2.0,-1.772146,1,Marco Botti,Antonio Fresu,3752,LINGFIELD (A.W),2YO,ENHANCED WORLD CUP SPECIALS AT 188BET FILLIES'...,1st,6,0.083333,0.361702

## One-hot encoding

4a. Apply one-hot encoding on race age (which is a categorical column) in the train and test dataset

In [26]:
from sklearn.preprocessing import OneHotEncoder

encoder=OneHotEncoder()

encoder.fit(X_train[["race_age"]])

race_age_train_encoded =encoder.transform(X_train[["race_age"]])
race_age_train_encoded = pd.DataFrame(race_age_train_encoded.toarray(), columns= encoder.get_feature_names_out(["race_age"]))
race_age_train_encoded.reset_index(drop=True, inplace =True)
X_train = pd.concat([X_train, race_age_train_encoded], axis=1).drop(["race_age"],axis=1)

#encoded=OneHotEncoder()  this is the method
#encoder.fit(df[["colour"]])
#colour_encoded-encoder.transform(df[["colour"]])
#df=colour=pd.dataframe(colour.encoded.....)

4c. Show the first five rows of the updated train and test dataframes

In [27]:
race_age_train_encoded.head(5)

,race_age_2YO,race_age_2YO+,race_age_3-4YO,race_age_3-5YO,race_age_3YO,race_age_3YO+,race_age_4YO+
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0